@model ToDoV2.Models.Yapilacaklar

@{
    ViewBag.Title = "Edit";
}

<h2>İşi Güncelle</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Yapilacak, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Yapilacak, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Yapilacak, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.IsDetayi, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.IsDetayi, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IsDetayi, "", new { @class = "text-danger" })
        </div>
    </div>

    @using (Html.BeginForm("ResimEkle", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <p>
            Ekran Görüntüsü Ekle
        </p>
        <input type="file" name="ekrangoruntusu" />
        <input type="submit" value="Kaydet" />
    }

    <div class="form-group">
        @Html.LabelFor(model => model.IsDone, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsDone)
                @Html.ValidationMessageFor(model => model.IsDone, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CategoryId", null, "Kategori Seç", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
